<section id="testimonials" class="{{ content.field_background_color[0]['#markup'] }}">
    {{ title_prefix }}
    <div class="container">
        <div class="row text-center">
            <h2>{{ content.field_title }}</h2>
            <div class="controls">
                <a href="#testimonials" class="prev" role="button" data-slide="prev"><i class="fas fa-chevron-left fa-3x"></i></a>
                <a href="#testimonials" class="next" role="button" data-slide="next"><i class="fas fa-chevron-right fa-3x"></i></a>
            </div>
            <div class="wrapper">
                {{ content.field_testimonial_quote }}
            </div>
        </div>
    </div>
    {{ title_suffix }}
</section>