<section id="contact" class="darker" {{ attributes }}>
    <div class="container">
        <h2 class="text-center">{{ 'Contact'|t }}</h2>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3>{{ 'Locate'|t }}</h3>
                <div class="location">
                    {{ page.footer.locate }}
                </div>
                <h3>{{ 'Connect'|t }}</h3>
                {{ page.footer.connectmenu }}
            </div>
            <div class="col-md-8 col-xs-12">
                <h3>{{ 'Communicate'|t }}</h3>
                {{ page.footer.webform }}
            </div>
        </div>
    </div>
</section>
