<header role="banner" class="abs">
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu"><i class="fa fa-bars fa-2x"></i></button>
          <h1 class="logo"><a href="{{ front_page }}">
            <img src="/{{ directory }}/img/logo-white.png" alt="logo"></a>
          </h1>
        </div>
        {{ page.header }}
      </div>
    </div>
  </header>

  {{ page.highlighted }}

  {{ page.help }}

  {{ page.content }}

{% if page.footer %}
  <footer class="darker" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 copy">
          {{ page.footer }}
        </div>
        <a href="#" class="top-link"><i class="fa fa-chevron-circle-up fa-3x" alt="Back to Top"></i><span class="sr-only">Top</span></a>
      </div>
    </div>
  </footer>
{% endif %}
