<div {{ attributes.addClass('item') }}>
    <p>{{ content.field_quote }}</p>
    <a class="credit" href={{ content.field_quote_link }}>{{ node.label }}</a>
    <span>{{ content.field_quote_company }}</span>
</div>

